.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    // background-color: #1976d2;
    background: #373b44;
    background: -webkit-linear-gradient(to left, #4286f4, #373b44); 
    background: linear-gradient(
        to left,
        #4286f4,
        #373b44
    ); 
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}
